<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>装修邦</title>
    <link rel="stylesheet" type="text/css" href="css/footer-0bf5e5a4f3.css" charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/header-8b33fec703.css" charset="utf-8">
    <link rel="stylesheet" media="screen and (min-width:1460px)" type="text/css" href="css/header_big-a8f1a58338.css"
          charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/Gd_common-6515590370.css" charset="utf-8">
    <link type="text/css" rel="stylesheet" href="css/adLoader-bc38998ed9.css">

    <link rel="stylesheet" type="text/css" href="css/swiper-a89a88b18d.css" charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/index-f4503241d8.css">
    <link href="/css/layui.css" th:href="@{/css/layui.css}" rel="stylesheet" type="text/css"/>
    <script src="/lay/modules/jquery.js" th:src="@{/lay/modules/jquery.js}" type="text/javascript"></script>
    <script src="/layui.js" th:src="@{/layui.js}" type="text/javascript"></script>
<body style="">
<div class="global-wrap">

<div class="header header-nav">
<div class="header-first-box">
    <div class="header-nav-first">
        <div class="nav-first-left" style="display: block;">
            <div class="city-switchover">
                <i class="icon icon-coordinate"></i>
                <span class="nav-city">郑州</span>
                <a class="nav-change" href="https://www.to8to.com/index.html" rel="nofollow">
                    [切换]
                </a>
            </div>
            <div class="city-option-box">
                <div class="city-option-list"><span class="city-option-hot on">热门城市</span></div>
                <div class="city-option-content">
                    <div class="city-hot-content">
                        <div class="city-option-ul-box city-option-manage">
                            <ul class="clearfix">
                                <li><a href="javascript:void(0);" city_code="bj" title="北京装修网">北京</a></li>
                                <li><a href="javascript:void(0);" city_code="sh" title="上海装修网">上海</a></li>
                                <li><a href="javascript:void(0);" city_code="gz" title="广州装修网">广州</a></li>
                                <li><a href="javascript:void(0);" city_code="sz" title="深圳装修网">深圳</a></li>
                                <li><a href="javascript:void(0);" city_code="cd" title="成都装修网">成都</a></li>
                                <li class="row-end"><a href="javascript:void(0);" city_code="cq" title="重庆装修网">重庆</a>
                                </li>
                                <li><a href="javascript:void(0);" city_code="wh" title="武汉装修网">武汉</a></li>
                                <li><a href="javascript:void(0);" city_code="sy" title="沈阳装修网">沈阳</a></li>
                                <li><a href="javascript:void(0);" city_code="dl" title="大连装修网">大连</a></li>
                                <li><a href="javascript:void(0);" city_code="zz" title="郑州装修网">郑州</a></li>
                                <li><a href="javascript:void(0);" city_code="xa" title="西安装修网">西安</a></li>
                                <li class="row-end"><a href="javascript:void(0);" city_code="nj" title="南京装修网">南京</a>
                                </li>
                                <li><a href="javascript:void(0);" city_code="suzhou" title="苏州装修网">苏州</a></li>
                                <li><a href="javascript:void(0);" city_code="wx" title="无锡装修网">无锡</a></li>
                                <li><a href="javascript:void(0);" city_code="xz" title="徐州装修网">徐州</a></li>
                                <li><a href="javascript:void(0);" city_code="hz" title="杭州装修网">杭州</a></li>
                                <li><a href="javascript:void(0);" city_code="nb" title="宁波装修网">宁波</a></li>
                                <li class="row-end"><a href="javascript:void(0);" city_code="tj" title="天津装修网">天津</a>
                                </li>
                                <li><a href="javascript:void(0);" city_code="km" title="昆明装修网">昆明</a></li>
                                <li><a href="javascript:void(0);" city_code="nn" title="南宁装修网">南宁</a></li>
                                <li><a href="javascript:void(0);" city_code="hf" title="合肥装修网">合肥</a></li>
                                <li><a href="javascript:void(0);" city_code="cs" title="长沙装修网">长沙</a></li>
                                <li><a href="javascript:void(0);" city_code="qd" title="青岛装修网">青岛</a></li>
                                <li class="row-end"><a href="javascript:void(0);" city_code="heb" title="哈尔滨装修网">哈尔滨</a>
                                </li>
                                <li><a href="javascript:void(0);" city_code="lanzhou" title="兰州装修网">兰州</a></li>
                                <li><a href="javascript:void(0);" city_code="dg" title="东莞装修网">东莞</a></li>
                                <li><a href="javascript:void(0);" city_code="huizhou" title="惠州装修网">惠州</a></li>
                                <li><a href="javascript:void(0);" city_code="fs" title="佛山装修网">佛山</a></li>
                                <li><a href="javascript:void(0);" city_code="gy" title="贵阳装修网">贵阳</a></li>
                                <li class="row-end"><a href="javascript:void(0);" city_code="qz" title="泉州装修网">泉州</a>
                                </li>
                            </ul>
                        </div>
                        <div class="city-option-ul-box">
                            <ul class="clearfix">
                                <li><a href="https://www.to8to.com/index.html" class="city-option-a-more"
                                       rel="nofollow">更多&nbsp;&gt;</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-first-right">
            <span class="nav-first-phone"><i class="icon icon-phone"></i>咨询热线：<span
                    class="phone-underline">6666-8888</span><i class="icon tel-arrow down"></i></span>

            <div class="division-thread first-division"></div>
            <a href="#" target="_blank" rel="nofollow">意见反馈</a>

            <div class="building-center">
                <div class="building-center-title">建材中心<i class="icon icon-arrow-bottom"></i><i
                        class="cut-line cut-line-left"></i><i class="cut-line cut-line-right"></i></div>
                <i class="cover-line"></i>
                <ul>
                    <li><a href="http://swc.to8to.com/#/login" target="_blank" rel="nofollow">建材商登录</a></li>
                    <li><a href="http://swc.to8to.com/#/sp-shopSignIn/index" target="_blank" rel="nofollow">建材商入驻</a>
                    </li>
                </ul>
            </div>
          <!--  <div class="merchant-center">
                <div class="merchant-center-title">商家入驻<i class="icon icon-arrow-bottom"></i><i
                        class="cut-line cut-line-left"></i><i class="cut-line cut-line-right"></i></div>-->
            <div class="building-center">
                <div class="building-center-title">商家入驻<i class="icon icon-arrow-bottom"></i><i
                        class="cut-line cut-line-left"></i><i class="cut-line cut-line-right"></i></div>
                <i class="cover-line"></i>
                <ul>
                    <li><a href="http://swc.to8to.com/#/login" target="_blank" rel="nofollow">商家入驻</a></li>
                    <li><a href="http://swc.to8to.com/#/sp-shopSignIn/index" target="_blank" rel="nofollow">公司入驻</a>
                    </li>
                </ul>
            </div>
          <!--  <div class="nav-my-tubatu">
                <div class="nav-my-tubatu-title">我的装修邦<i class="icon icon-arrow-bottom"></i><i
                        class="cut-line cut-line-left"></i><i class="cut-line cut-line-right"></i></div>
            </div>-->
            <a class="nav-first-my" href="#" target="_blank" rel="nofollow">我的装修邦</a>
            <a class="nav-first-reg" href="register.html" target="_blank" rel="nofollow">注册</a>
            <a class="nav-first-login" href="login.html" target="_blank" rel="nofollow">登录</a>
        </div>

    </div>
</div>
<div class="header-nav-content">
<div class="header-nav-box">
    <div class="nav-content-left">
        <div class="to8to-logo-box">
            <a href="#" class="nav-fzlink"><i class="icon header-logo"></i></a>
            <a href="#" rel="nofollow" class="ad-rabbit" id="41eecbced794b2c8" target="_blank">
                <img class="header-logo-gif" src="imgs/7476576b54a1461214a301718f3a503e54442.gif">
                <img class="header-logo-png" src="#"></a>
        </div>
    </div>
    <div class="nav-content-center">
        <ul class="nav-content-list">
            <li class="on">
                <a href="#" class="bottom-thread nav-fzlink">
                    首页
                </a>
            </li>
            <li class="have-arrow">
                <a href="#" target="_blank" class="bottom-thread">
                    需求市场
                    <i class="icon icon-arrow"></i>
                </a>
            </li>
            <li class="have-arrow">
                <a href="#" title="装修公司" target="_blank" class="bottom-thread nav-fzlink">
                    装修公司
                    <i class="icon icon-arrow"></i>
                </a>
            </li>
            <li class="have-arrow">
                <a href="#" target="_blank" class="bottom-thread">
                    装修案例
                    <i class="icon icon-arrow"></i>
                </a>
            </li>
            <li class="">
                <a href="#" class="bottom-thread" rel="nofollow" target="_blank">
                    发布需求
                </a>
            </li>
            <li class="have-arrow">
                <a href="javascript:void(0);" class="bottom-thread" rel="nofollow">
                    家居商城
                    <i class="icon icon-arrow"></i>
                </a>
            </li>
        </ul>
<!--        <ul th:include="nav::nav"></ul>-->
    </div>
    <div class="nav-content-right">
        <form id="searchform-new" action="//zz.to8to.com/company/" method="get" class="nav-fzlink">
            <div class="nav-content-search-center">
                <div class="nav-search-select">
<span class="search-select-text">
<span class="search-select-type">装修公司</span>
<i class="icon icon-arrow"></i>
</span>
                    <ul class="search-select-list">
                        <li class="list-now">装修公司</li>
                        <li>问题</li>
                        <li>攻略</li>
                        <li>效果图</li>
                        <li>建材家具</li>
                        <li>小区</li>
                    </ul>
                </div>
                <div class="nav-search-input">
                    <input class="nav-search-center-input" type="text" name="keyword" autocomplete="off">
                    <label class="nav-search-center-text">搜装修公司/问题/攻略/效果图</label>
                </div>
                <i class="icon icon-search"></i>
            </div>
        </form>
    </div>
</div>
<div class="header-nav-hover" style="display: none;">
<div class="nav-hover-type">
<div class="nav-hover-zxgs" style="display: none;">
    <div class="nav-type-box">
        <div class="nav-type-list nav-right-dashed nav-type-region">
            <a href="https://zz.to8to.com/company/" rel="nofollow" target="_blank">
                <span class="nav-type-title">按服务区域<i class="icon icon-right-sign"></i></span>
            </a>
            <ul class="nav-zxgs-area">
                <li><a href="https://zz.to8to.com/company/?service=erqiqu" target="_blank" rel="nofollow">二七</a></li>
                <li><a href="https://zz.to8to.com/company/?service=guanchenghuizuqu" target="_blank"
                       rel="nofollow">管城回族</a></li>
                <li><a href="https://zz.to8to.com/company/?service=huijiqu" target="_blank" rel="nofollow">惠济</a></li>
                <li><a href="https://zz.to8to.com/company/?service=jinshuiqu" target="_blank" rel="nofollow">金水</a></li>
                <li><a href="https://zz.to8to.com/company/?service=shangjiequ" target="_blank" rel="nofollow">上街</a>
                </li>
                <li><a href="https://zz.to8to.com/company/?service=zhongyuanqu" target="_blank" rel="nofollow">中原</a>
                </li>
            </ul>
        </div>
        <div class="nav-type-list nav-right-dashed nav-type-price">
            <a href="https://zz.to8to.com/company/" rel="nofollow" target="_blank">
                <span class="nav-type-title">按价格<i class="icon icon-right-sign"></i></span>
            </a>
            <ul>
                <li><a href="https://zz.to8to.com/company/?price=1" rel="nofollow" target="_blank">3万以下</a></li>
                <li><a href="https://zz.to8to.com/company/?price=2" rel="nofollow" target="_blank">3-5万</a></li>
                <li><a href="https://zz.to8to.com/company/?price=3" rel="nofollow" target="_blank">5-8万</a></li>
                <li><a href="https://zz.to8to.com/company/?price=4" rel="nofollow" target="_blank">8-12万</a></li>
                <li><a href="https://zz.to8to.com/company/?price=5" rel="nofollow" target="_blank">12-18万</a></li>
                <li><a href="https://zz.to8to.com/company/?price=6" rel="nofollow" target="_blank">18-30万</a></li>
            </ul>
        </div>
        <div class="nav-right-dashed nav-type-genre">
            <a href="https://zz.to8to.com/company/" target="_blank">
                <span class="nav-type-title">按类型<i class="icon icon-right-sign"></i></span>
            </a>
            <ul>
                <li><a href="https://zz.to8to.com/company/ptzz/" class="nav-fzlink" target="_blank">普通住宅</a></li>
                <li><a href="https://zz.to8to.com/company/xiaohuxing/" class="nav-fzlink" target="_blank">小户型</a></li>
                <li><a href="https://zz.to8to.com/company/bieshu/" class="nav-fzlink" target="_blank">别墅</a></li>
                <li><a href="https://zz.to8to.com/company/jubu/" class="nav-fzlink" target="_blank">局部装修</a></li>
            </ul>
        </div>
        <div class="nav-type-list nav-type-style">
            <a href="https://zz.to8to.com/company/" rel="nofollow" target="_blank">
<span class="nav-type-title">按风格<i class="icon icon-right-sign"></i>
</span>
            </a>
            <ul>
                <li><a href="https://zz.to8to.com/company/?style=1" class="nav-fzlink" rel="nofollow"
                       target="_blank">简约</a></li>
                <li><a href="https://zz.to8to.com/company/?style=2" class="nav-fzlink" rel="nofollow"
                       target="_blank">现代</a></li>
                <li><a href="https://zz.to8to.com/company/?style=3" class="nav-fzlink" rel="nofollow"
                       target="_blank">中式</a></li>
                <li><a href="https://zz.to8to.com/company/?style=14" class="nav-fzlink" rel="nofollow" target="_blank">简欧</a>
                </li>
                <li><a href="https://zz.to8to.com/company/?style=5" class="nav-fzlink" rel="nofollow"
                       target="_blank">美式</a></li>
                <li><a href="https://zz.to8to.com/company/?style=13" class="nav-fzlink" rel="nofollow" target="_blank">北欧</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="nav-hover-xgt" style="display: none;">
    <div class="nav-type-box">
        <div class="nav-type-list nav-right-dashed nav-type-space">
            <a href="https://xiaoguotu.to8to.com/meitu/" target="_blank">
                <span class="nav-type-title">按空间<i class="icon icon-right-sign"></i></span>
            </a>
            <ul>
                <li><a href="https://xiaoguotu.to8to.com/list-h1s1i0" target="_blank">客厅</a></li>
                <li><a href="https://xiaoguotu.to8to.com/list-h1s2i0" target="_blank">卧室</a></li>
                <li><a href="https://xiaoguotu.to8to.com/list-h1s3i0" target="_blank">餐厅</a></li>
                <li><a href="https://xiaoguotu.to8to.com/list-h1s4i0" target="_blank">厨房</a></li>
                <li><a href="https://xiaoguotu.to8to.com/list-h1s5i0" target="_blank">卫生间</a></li>
                <li><a href="https://xiaoguotu.to8to.com/list-h1s6i0" target="_blank">阳台</a></li>
            </ul>
        </div>
        <div class="nav-type-list nav-right-dashed nav-type-style">
            <a href="https://xiaoguotu.to8to.com/tuce/" target="_blank">
                <span class="nav-type-title">按风格<i class="icon icon-right-sign"></i></span>
            </a>
            <ul>
                <li><a href="https://xiaoguotu.to8to.com/list-h3s15i0" target="_blank">现代简约</a></li>
                <li><a href="https://xiaoguotu.to8to.com/list-h3s4i0" target="_blank">中式现代</a></li>
                <li><a href="https://xiaoguotu.to8to.com/list-h3s2i0" target="_blank">欧式豪华</a></li>
                <li><a href="https://xiaoguotu.to8to.com/list-h3s9i0" target="_blank">美式经典</a></li>
                <li><a href="https://xiaoguotu.to8to.com/list-h3s11i0" target="_blank">美式田园</a></li>
            </ul>
        </div>
        <div class="nav-type-list nav-right-dashed nav-type-housetype">
            <a href="https://xiaoguotu.to8to.com/tuce/" target="_blank">
<span class="nav-type-title">按户型<i class="icon icon-right-sign"></i>
</span>
            </a>
            <ul>
                <li><a href="https://xiaoguotu.to8to.com/list-h2s7i0" target="_blank">一居</a></li>
                <li><a href="https://xiaoguotu.to8to.com/list-h2s2i0" target="_blank">二居</a></li>
                <li class="text-brief"><a href="https://xiaoguotu.to8to.com/list-h2s3i0" target="_blank">三居</a></li>
                <li><a href="https://xiaoguotu.to8to.com/list-h2s4i0" target="_blank">四居及以上</a></li>
                <li><a href="https://xiaoguotu.to8to.com/list-h2s5i0" target="_blank">复式</a></li>
            </ul>
        </div>
        <div class="nav-list-img">
            <a href="https://zz.to8to.com/zb/" target="_blank" class="nav-fzlink">
                <i class="icon icon-nav-mfsj">
                    <i class="icon icon-nav-xs"></i>
                </i>
                <span class="nav-list-text">免费设计</span>
            </a>
            <a href="https://www.shejiben.com/zb/?from=t8tnav1" target="_blank">
                <i class="icon icon-nav-gdsj"></i>
                <span class="nav-list-text">定制设计</span>
            </a>
            <a class="margin-zero" href="https://xiaoguotu.to8to.com/tumax/" target="_blank">
                <i class="icon icon-nav-diy"></i>
                <span class="nav-list-text">图满意</span>
            </a>
        </div>
    </div>
</div>
<div class="nav-hover-zxgl" style="display: none;">
    <div class="nav-type-box ">
        <div class="nav-type-list nav-type-small nav-right-dashed">
            <span class="nav-type-title" title="装修前">装修前<i class="icon icon-right-sign"></i></span>
            <ul>
                <li><a href="https://www.to8to.com/yezhu/shoufang/" target="_blank">收房</a></li>
                <li><a href="https://www.to8to.com/yezhu/sheji/" target="_blank">设计</a></li>
                <li><a href="https://www.to8to.com/yezhu/hetong/" target="_blank">合同</a></li>
                <li><a href="https://www.to8to.com/yezhu/yusuan/" target="_blank">预算</a></li>
            </ul>
        </div>
        <div class="nav-type-list nav-right-dashed">
            <span class="nav-type-title" title="装修中">装修中<i class="icon icon-right-sign"></i></span>
            <ul>
                <li><a href="https://www.to8to.com/yezhu/chaigai/" target="_blank">拆改</a></li>
                <li><a href="https://www.to8to.com/yezhu/shuidian/" target="_blank">水电</a></li>
                <li><a href="https://www.to8to.com/yezhu/fangshui/" target="_blank">防水</a></li>
                <li><a href="https://www.to8to.com/yezhu/niwa/" target="_blank">泥瓦</a></li>
                <li><a href="https://www.to8to.com/yezhu/mugong/" target="_blank">木工</a></li>
                <li><a href="https://www.to8to.com/yezhu/youqi/" target="_blank">油漆</a></li>
            </ul>
        </div>
        <div class="nav-type-list nav-type-least nav-right-dashed">
            <span class="nav-type-title" title="装修后">装修后<i class="icon icon-right-sign"></i></span>
            <ul>
                <li><a href="https://www.to8to.com/yezhu/jungong/" target="_blank">竣工</a></li>
                <li><a href="https://www.to8to.com/yezhu/ruzhu/" target="_blank">入住</a></li>
            </ul>
        </div>
        <div class="nav-list-img zxgl-list-inlet">
            <a href="https://www.to8to.com/yezhu/3minute.html" class="list-img-big" target="_blank">
                <i class="icon icon-nav-xzx"></i>
                <span class="nav-list-text">3分钟学装修</span>
            </a>
            <a href="https://www.to8to.com/riji/" class="list-img-riji" target="_blank">
                <i class="icon icon-nav-riji">
                    <i class="icon icon-nav-hot"></i>
                </i>
                <span class="nav-list-text">业主日记</span>
            </a>
            <a href="https://www.to8to.com/ask/" target="_blank">
                <i class="icon icon-nav-ask"></i>
                <span class="nav-list-text">在线问答</span>
            </a>
        </div>
    </div>
</div>
<div class="nav-hover-more" style="display: none;">
    <div class="nav-type-box">
        <div class="nav-list-img">
            <a href="http://mall.to8to.com/" target="_blank">
                <i class="icon icon-nav-jjsc"></i>
                <span class="nav-list-text">家居商城</span>
            </a>
            <a href="https://www.to8to.com/yezhu/zxbj.php" target="_blank">
                <i class="icon icon-nav-mfbj">
                    <i class="icon icon-nav-mf"></i>
                </i>
                <span class="nav-list-text">免费报价</span>
            </a>
            <a href="https://www.shejiben.com/zsj/?from=t8tnav1" target="_blank">
                <i class="icon icon-nav-sjb">
                    <i class="icon icon-nav-jp"></i>
                </i>
                <span class="nav-list-text">找设计师</span>
            </a>
            <a href="https://zz.to8to.com/huodong/quality.html" class="nav-fzlink not-ground-city" rel="nofollow"
               target="_blank">
                <i class="icon icon-nav-mfyf"></i>
                <span class="nav-list-text">全程质检</span>
            </a>
            <a href="https://www.to8to.com/zb/index11.html" rel="nofollow" target="_blank" class="not-ground-city">
                <i class="icon icon-nav-zxd"></i>
                <span class="nav-list-text">装修分期</span>
            </a>
            <a href="https://www.to8to.com/yezhu/enjoyhome.php" target="_blank" class="not-ground-city">
                <i class="icon icon-nav-zzj"></i>
                <span class="nav-list-text">至享家</span>
            </a>
            <a href="https://www.to8to.com/smarthome/" target="_blank" class="not-ground-city">
                <i class="icon icon-nav-znjj"></i>
                <span class="nav-list-text">智能家居</span>
            </a>
            <a href="https://www.to8to.com/zb/wholeHouseCustom.php" target="_blank">
                <i class="icon-nav-qwdz"></i>
                <span class="nav-list-text">全屋定制</span>
            </a>
            <a href="https://news.to8to.com/" class="margin-zero" target="_blank">
                <i class="icon icon-nav-news"></i>
                <span class="nav-list-text">热点新闻</span>
            </a>
        </div>
    </div>
</div>
</div>
</div>
<span class="header-border-bottom"></span>
</div>
</div>
<script type="text/javascript"></script>
<div class="main-container">
<div class="index-banner" id="index-banner-flag">
    <a href="javascript:void(0);" class="arrow-left">
        <span class="bannner-arrow" style="font-size: 20px">&lt;</span>
    </a>
    <a href="javascript:void(0);" class="arrow-right">
        <span class="bannner-arrow" style="font-size: 20px" >&gt;</span>
    </a>
<!--轮播图-->
    <div class="swiper-container banner-sliders t8t-ad-swiper-custom">
        <div class="swiper-wrapper"
             style="width: 6100px; height: 360px; transform: translate3d(-2440px, 0px, 0px); transition-duration: 0.3s;">
            <div class="swiper-slide" style="background-color: rgb(0, 172, 138); width: 1220px; height: 360px;">
                <a href="#" target="_blank" rel="nofollow" onclick="javascript:clickStream.getCvParams('1_1_1_2406')"
                   class="ad-data-report ad-data-report-carousel" data-pg="" data-rty="ad" data-rid="20"
                   data-rtt="服务保障首页" data-radk="idx_idx_hed_al_1">
                    <img src="imgs/dd1b85be6d671e467e24bc0f8ba790d245345.jpg" alt="服务保障首页"
                         style="margin-left: -1017.5px; display: block;">
                </a>
            </div>
           <!-- <div class="swiper-slide" style="width: 1220px; height: 360px;">
                <div style="background-color:#a3e9f5">
                    <a class="ad-data-report ad-data-report-carousel"
                       href="#" target="_blank" "=""
                    data-ptag="" data-exptag="" data-pg="" data-rty="ad" data-rid="15" data-rtt="装修风格测试"
                    data-radk="idx_idx_hed_al_1">
                    <img src="imgs/89ab2667d65940c325bfd733559cd60695225.jpg"
                         style="margin-left: -751.5px; display: block;">
                    </a>
                </div>
            </div>
            <div class="swiper-slide swiper-slide-visible swiper-slide-active" style="width: 1220px; height: 360px;">
                <div style="background-color:#71a8cf">
                    <a class="ad-data-report ad-data-report-carousel" href="#"
                       target="_blank" "="" data-ptag="" data-exptag="" data-pg="" data-rty="ad" data-rid="17"
                    data-rtt="视频-vlog09" data-radk="idx_idx_hed_al_1">
                    <img src="imgs/b6e954c7b00a2adfedb2246ec70f336228823.jpg"
                         style="margin-left: -751.5px; display: block;">
                    </a>
                </div>
            </div>
            <div class="swiper-slide" style="width: 1220px; height: 360px;">
                <div style="background-color:#bedbf9"><a class="ad-data-report ad-data-report-carousel"
                                                         href="http://www.to8to.com/yezhu/shipin/404.html"
                                                         target="_blank" "="" data-ptag="" data-exptag="" data-pg=""
                    data-rty="ad" data-rid="18" data-rtt="视频-土土 -猫毛" data-radk="idx_idx_hed_al_1"><img
                            src="https://pic50.t8tcdn.com/adcms/ad/201911/20/77f1c458bbea5efa43c5c6b0594735c951252.jpg"
                            style="margin-left: -751.5px; display: block;"></a></div>
            </div>
            <div class="swiper-slide" style="width: 1220px; height: 360px;">
                <div style="background-color:#000000"><a class="ad-data-report ad-data-report-carousel"
                                                         href="https://news.to8to.com/index.php/article/143014.html"
                                                         target="_blank" "="" data-ptag="" data-exptag="" data-pg=""
                    data-rty="ad" data-rid="443" data-rtt="百姓网-全国" data-radk="idx_idx_hed_al_1"><img
                            src="https://pic50.t8tcdn.com/adcms/ad/201911/28/dd153ec56cdcfd094b4539387de21bb881279.jpg"
                            style="margin-left: -751.5px; display: block;"></a></div>
            </div>-->
        </div>
    </div>
    <ul class="slider-btns"><span class="swiper-pagination-switch"></span><span class="swiper-pagination-switch"></span><span
            class="swiper-pagination-switch swiper-visible-switch swiper-active-switch"></span><span
            class="swiper-pagination-switch"></span><span class="swiper-pagination-switch"></span></ul>
</div>
<img src="https://img.to8to.com/to8to_pc/index/statics/img/city_logo.png" height="75" width="121" alt="土巴兔郑州装修网"
     style="display:none;">

<div class="index-entries ad-rabbit" id="d1bd4c8ea81c381b">
    <ul class="content-wrapper clearfix">
        <li class="entries-item">
            <a href="https://zz.to8to.com/zb/" class="clearfix" target="_blank" data-pg="1_1_1_7320">
<span class="entries-item-info">
<h5 class="entries-item-title">免费设计</h5>
<span class="entries-item-tip">获取三份设计方案</span>
</span>

                <div class="entries-item-banner" style="width: 80px; display: block;"><img
                        src="imgs/10e86caea90c6b69014d264e11ca940e25584.jpg"></div>
                <span class="entries-item-icon entries-item-icon-first"></span>
            </a>
        </li>
        <li class="entries-item">
            <a href="https://www.to8to.com/yezhu/zxbj.php" target="_blank" data-pg="1_1_1_7321">
<span class="entries-item-info">
<h5 class="entries-item-title">免费报价</h5>
<span class="entries-item-tip">算算装修要花多少钱</span>
</span>

                <div class="entries-item-banner" style="width: 80px; display: block;"><img
                        src="imgs/de97215dfcaf713b8c8b0e12a687646438801.jpg"></div>
                <span class="entries-item-icon entries-item-icon-second"></span>
            </a>
        </li>
        <li class="entries-item">
            <a href="https://www.to8to.com/zb/wholeHouseCustom.php" data-ptag="1_1_1_5343" data-pg="1_1_1_7322"
               target="_blank">
<span class="entries-item-info">
<h5 class="entries-item-title">全屋定制</h5>
<span class="entries-item-tip">让家轻松扩大n平米</span>
</span>

                <div class="entries-item-banner" style="width: 80px; display: block;"><img
                        src="https://pic50.t8tcdn.com/adcms/ad/201812/25/c60a2437841b91eb5893873f5b724cb969855.jpg">
                </div>
                <span class="entries-item-icon entries-item-icon-sixth"></span>
            </a>
        </li>
        <li class="entries-item">
            <a href="https://www.to8to.com/zb/index11.html" target="_blank">
<span class="entries-item-info">
<h5 class="entries-item-title">装修分期</h5>
<span class="entries-item-tip">按月付款轻松住新家</span>
</span>

                <div class="entries-item-banner" style="width: 80px; display: block;"><img
                        src="https://pic50.t8tcdn.com/adcms/ad/201812/25/7979b2c52e38611219a8f901930ddf5c14600.jpg">
                </div>
                <span class="entries-item-icon  entries-item-icon-third "></span>
            </a>
        </li>
        <li class="entries-item">
            <a href="https://www.to8to.com/huodong/quality.html" rel="nofollow" target="_blank">
<span class="entries-item-info">
<h5 class="entries-item-title">全程质检</h5>
<span class="entries-item-tip">请个质检盯工地</span>
</span>

                <div class="entries-item-banner" style="width: 80px; display: block;"><img
                        src="https://pic50.t8tcdn.com/adcms/ad/201812/25/e03319039519ca362e307eda2b2d8f6e64082.jpg">
                </div>
                <span class="entries-item-icon entries-item-icon-fourth"></span>
            </a>
        </li>
    </ul>
</div>

<div class="index-zzx index-common">
    <div class="content-wrapper clearfix">
        <div class="index-common-header">
            <h2 class="index-common-title slow-emerge" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                <span class="index-common-title-before"></span>
                <a href="http://zz.to8to.com/company/">
                    郑州装修公司
                </a>
                <span class="index-common-title-after"></span>
            </h2>
<span class="index-common-description">
甄选优质郑州装修公司，丰富选择实现理想家
</span>
        </div>
        <div class="index-zzx-company-box clearfix">
            <div class="index-zzx-company">
                <a href="http://zz.to8to.com/zs/2775756/" class="zzx-company-list click-count" target="_blank"
                   data-rsc="cmp_2775756_pc首页找装修____" data-comid="2775756">
                    <div class="zzx-company-img">
                        <div class="company-bag-url">
                            <img src="https://img.to8to.com//to8to_pc/index/statics/img/15.jpg" class="zzx-company-bag"
                                 alt="郑州荣辉装饰设计有限公司">
                        </div>
                        <div class="zzx-company-logo-box"><img class="zzx-company-logo"
                                                               src="http://pic.to8to.com//user/56/headphoto_2775756_s.jpg">
                        </div>
                        <span class="zzx-company-tj bg-tuijian"></span>
                    </div>
                    <div class="zzx-company-detail">
                        <p class="zzx-company-name">荣辉装饰</p>
                        <ul class="zzx-company-data">
                            <li class="clearfix"><em>设计案例：</em><span class="">739</span></li>
                            <li class="clearfix"><em>装修工地：</em><span class="zzx-company-construction">312</span></li>
                        </ul>
                        <span class="zzx-company-bespoke company-zx-phone">免费预约：<span class="company-zx-phoneNum">186-3894-8913</span></span>
                    </div>
                </a>
                <a href="http://zz.to8to.com/zs/1266027/" class="zzx-company-list click-count" target="_blank"
                   data-rsc="cmp_1266027_pc首页找装修____" data-comid="1266027">
                    <div class="zzx-company-img">
                        <div class="company-bag-url">
                            <img src="https://img.to8to.com//to8to_pc/index/statics/img/4.jpg" class="zzx-company-bag"
                                 alt="河南尚茂装饰工程有限公司">
                        </div>
                        <div class="zzx-company-logo-box"><img class="zzx-company-logo"
                                                               src="http://pic.to8to.com//user/27/headphoto_s_1266027_s.jpg?v=1557213417">
                        </div>
                        <span class="zzx-company-tj bg-tuijian"></span>
                    </div>
                    <div class="zzx-company-detail">
                        <p class="zzx-company-name">尚茂装饰</p>
                        <ul class="zzx-company-data">
                            <li class="clearfix"><em>设计案例：</em><span class="">342</span></li>
                            <li class="clearfix"><em>装修工地：</em><span class="zzx-company-construction">231</span></li>
                        </ul>
                        <span class="zzx-company-bespoke company-zx-phone">免费预约：<span class="company-zx-phoneNum">186-3894-8983</span></span>
                    </div>
                </a>
                <a href="http://zz.to8to.com/zs/10279481/" class="zzx-company-list click-count" target="_blank"
                   data-rsc="cmp_10279481_pc首页找装修____" data-comid="10279481">
                    <div class="zzx-company-img">
                        <div class="company-bag-url">
                            <img src="https://img.to8to.com//to8to_pc/index/statics/img/20.jpg" class="zzx-company-bag"
                                 alt="河南凯亚装饰工程有限公司">
                        </div>
                        <div class="zzx-company-logo-box"><img class="zzx-company-logo"
                                                               src="http://pic.to8to.com//user/81/headphoto_s_10279481_s.jpg?v=1546566541">
                        </div>
                        <span class="zzx-company-tj bg-tuijian"></span>
                    </div>
                    <div class="zzx-company-detail">
                        <p class="zzx-company-name">河南凯亚装饰</p>
                        <ul class="zzx-company-data">
                            <li class="clearfix"><em>设计案例：</em><span class="">79</span></li>
                            <li class="clearfix"><em>装修工地：</em><span class="zzx-company-construction">27</span></li>
                        </ul>
                        <span class="zzx-company-bespoke company-zx-phone">免费预约：<span class="company-zx-phoneNum">186-3894-8382</span></span>
                    </div>
                </a>
                <a href="http://zz.to8to.com/zs/9072977/" class="zzx-company-list click-count" target="_blank"
                   data-rsc="cmp_9072977_pc首页找装修____" data-comid="9072977">
                    <div class="zzx-company-img">
                        <div class="company-bag-url">
                            <img src="https://img.to8to.com//to8to_pc/index/statics/img/22.jpg" class="zzx-company-bag"
                                 alt="郑州市云睿装饰设计有限公司">
                        </div>
                        <div class="zzx-company-logo-box"><img class="zzx-company-logo"
                                                               src="http://pic.to8to.com//company/20181013/a62a07f171662e9e99f6bd0386ebfae5_s.jpg">
                        </div>
                        <span class="zzx-company-tj bg-tuijian"></span>
                    </div>
                    <div class="zzx-company-detail">
                        <p class="zzx-company-name">云睿装饰设计</p>
                        <ul class="zzx-company-data">
                            <li class="clearfix"><em>设计案例：</em><span class="">178</span></li>
                            <li class="clearfix"><em>装修工地：</em><span class="zzx-company-construction">311</span></li>
                        </ul>
                        <span class="company--enter--store">进入店铺</span>
                    </div>
                </a>
                <a href="http://zz.to8to.com/zs/1673623/" class="zzx-company-list zzx-company-nonmargin click-count"
                   target="_blank" data-rsc="cmp_1673623_pc首页找装修____" data-comid="1673623">
                    <div class="zzx-company-img">
                        <div class="company-bag-url">
                            <img src="https://img.to8to.com//to8to_pc/index/statics/img/16.jpg" class="zzx-company-bag"
                                 alt="河南小龙装饰工程有限公司">
                        </div>
                        <div class="zzx-company-logo-box"><img class="zzx-company-logo"
                                                               src="http://pic.to8to.com//user/23/headphoto_s_1673623_s.jpg?v=1526032324">
                        </div>
                        <span class="zzx-company-tj bg-tuijian"></span>
                    </div>
                    <div class="zzx-company-detail">
                        <p class="zzx-company-name">小龙装饰公司</p>
                        <ul class="zzx-company-data">
                            <li class="clearfix"><em>设计案例：</em><span class="">947</span></li>
                            <li class="clearfix"><em>装修工地：</em><span class="zzx-company-construction">870</span></li>
                        </ul>
                        <span class="zzx-company-bespoke company-zx-phone">免费预约：<span class="company-zx-phoneNum">186-3894-8563</span></span>
                    </div>
                </a>
                <a href="http://zz.to8to.com/zs/11449342/" class="zzx-company-list click-count" target="_blank"
                   data-rsc="cmp_11449342_pc首页找装修____" data-comid="11449342">
                    <div class="zzx-company-img">
                        <div class="company-bag-url">
                            <img src="https://img.to8to.com//to8to_pc/index/statics/img/14.jpg" class="zzx-company-bag"
                                 alt="微妆（上海）环保节能科技有限公司">
                        </div>
                        <div class="zzx-company-logo-box"><img class="zzx-company-logo"
                                                               src="http://pic.to8to.com//user/42/headphoto_s_11449342_s.jpg?v=1565667428">
                        </div>
                        <span class="zzx-company-tj bg-tuijian"></span>
                        <span class="ad-icon"></span></div>
                    <div class="zzx-company-detail">
                        <p class="zzx-company-name">微妆换新装饰</p>
                        <ul class="zzx-company-data">
                            <li class="clearfix"><em>设计案例：</em><span class="">3</span></li>
                            <li class="clearfix"><em>装修工地：</em><span class="zzx-company-construction">4</span></li>
                        </ul>
                        <span class="company--enter--store">进入店铺</span>
                    </div>
                </a>
                <a href="http://zz.to8to.com/zs/11290632/" class="zzx-company-list click-count" target="_blank"
                   data-rsc="cmp_11290632_pc首页找装修____" data-comid="11290632">
                    <div class="zzx-company-img">
                        <div class="company-bag-url">
                            <img src="https://img.to8to.com//to8to_pc/index/statics/img/3.jpg" class="zzx-company-bag"
                                 alt="河南苏凯装饰工程有限公司">
                        </div>
                        <div class="zzx-company-logo-box"><img class="zzx-company-logo"
                                                               src="http://pic.to8to.com//user/32/headphoto_s_11290632_s.jpg?v=1563000736">
                        </div>
                        <span class="zzx-company-tj bg-tuijian"></span>
                    </div>
                    <div class="zzx-company-detail">
                        <p class="zzx-company-name">苏凯装饰</p>
                        <ul class="zzx-company-data">
                            <li class="clearfix"><em>设计案例：</em><span class="">81</span></li>
                            <li class="clearfix"><em>装修工地：</em><span class="zzx-company-construction">17</span></li>
                        </ul>
                        <span class="zzx-company-bespoke company-zx-phone">免费预约：<span class="company-zx-phoneNum">6666-8888</span></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
</div>
<div class="footer">
<div class="footer-bottom">
<div class="footer-websites-box">
<div class="content-wrapper">
</div>
</div>
<div class="footer-company-box">
    <div class="content-wrapper">

        <div class="footer-company-info">
            <ul>
                <li><a href="#" target="_blank" rel="nofollow">关于我们</a></li>
                <li><a href="#" target="_blank" rel="nofollow">联系我们</a></li>
                <li><a href="#" target="_blank" rel="nofollow">媒体报道</a></li>
                <li><a href="#" target="_blank" rel="nofollow">帮助中心</a></li>
                <li><a href="#" target="_blank" rel="nofollow">意见反馈</a></li>
                <li><a href="#" target="_blank"
                       rel="nofollow">高薪聘请</a></li>
                <li><a href="#" target="_blank" rel="nofollow">校园招聘</a></li>
                <li><a href="#" target="_blank" rel="nofollow">公示公告</a></li>
                <li><a href="#" target="_blank" rel="nofollow">商务合作</a></li>
                <li><a href="#" target="_blank" rel="nofollow">侵权投诉</a></li>
            </ul>
            <p class="footer-company-state">
                免责声明：本网站部分内容由用户自行上传，如权利人发现存在误传其作品情形，请及时与本站联系。
            </p>


        </div>
    </div>
</div>
</div>
</div>

</div>
</body>
</html>